@font-face{
	font-family: "century";
	src: url("../../fonts/century.ttf") format("truetype");
}

@font-face{
	font-family: "GothamRnd-Medium";
	src: url("../../fonts/gotham/GothamRnd-Medium.otf") format("opentype");
}
@font-face{
	font-family: "Gotham-thin";
	src: url("../../fonts/gotham/GothamRnd-Light.otf") format("opentype");
}


@font-face{
	font-family: 'font-awesome';
	src: url("../../fonts/font-awesome/FontAwesome.otf") format("opentype");
}